<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>嘉薪首页</title>
</head>
<body>

<!--导航-->
<%- include('../component/basic/topTab.ejs',{
"tabone":true,
"tabtwo":false,
"tabthree":false,
"tabfour":false,
"tabfive":false,
"homepage":false
}) %>

<!--侧边栏-->
<%-include('../component/basic/sidebar.ejs')%>


<!-- 首页banner-->
<%-include('../component/homepage/page_banner.ejs')%>

<!--发工资-->
<%-include('../component/homepage/page_pay_out.ejs')%>

<!--我们能为您提供什么-->
<%-include('../component/homepage/page_one.ejs')%>

<!--服务保障-->
<%-include('../component/homepage/page_two.ejs')%>

<!--合作伙伴-->
<%-include('../component/homepage/page_three.ejs')%>


<!--底部导航-->

<%-include('../component/basic/bottomFooter.ejs')%>


</body>
<script>



    mobilePageJump();
</script>
</html>